body{
	font-family: Courier, sans-serif;
}
.header{
	text-align: center;
}

.contents{
	margin-top: 25px;
	margin-bottom: 25px;
}

.container{
	width: 500px;
	margin: auto;
}

.square {
	text-weight: bold;
	font-size: xx-large;
}

h1{
	background-color: #ddd;
	padding-left: 14px;
}

img{
	vertical-align:middle;
}

table { 
	margin-left: auto;
	margin-right: auto;
}

td{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0px;
}
input{
	margin-top: 10px;
}

.footer{
	text-align: right;
	font-size: small;
}
